<div id="success" ng-click="homePage()" ng-init="reveille()">
	<h1>לילדה הכי יפה בגן,</h1>
	
	<div>תודה.</div>
	<div>תודה על זה שכשאני מרגיש רע בעבודה אז את מעודדת אותי ומזכירה לי שיש סיבה שאני שם.</div>
	<div>תודה על שאת מאמינה בי למרות שלפעמים הסטארטאפים שלי פתאום מתרסקים.</div>
	<div>תודה על העזרה בלימודים, בלעדייך לא הייתי מסיים את התואר הזה.</div>
	<div>אני יודע שלפעמים אני מכעיס אותך כשאני עושה בלאגן וכשאני לא מנקה ומסדר,</div>
	<div>אבל לפחות אני מפצה בחיבוקים ונשיקות :)</div>
	<div>חשוב לי שתדעי שאני אוהב אותך!</div>
	<div>גם בגלל שאת יפה.</div>
	<div>גם בגלל שאת חכמה.</div>
	<div>אבל בעיקר בגלל הדברים הקטנים;</div>
	<div>שמטריף אותך שאת לא זוכרת איך קוראים לניצב לא מוכר מאיזו סדרת טלויזיה סתמית.</div>
	<div>שאת בוכה בכל פעם שיש שיר שקשור לאמא.</div>
	<div>שאת את יושבת כל הלילה לעשות שיעורים למרות שאת יודעת שזה לא ישנה את ה100 שגם ככה תקבלי.</div>
	<div>שאת צוחקת מהסרטנים הכי פחות מצחיקים.</div>
	<div>שאת מתעצבנת כשאני אוכל במבה במקום ארוחת צהריים.</div>
	<div>כל אלה ועוד מיליוני שטויות קטנות הופכות אותך לאישה כל כך מיוחדת ומדהימה,</div>
	<div>שעושה אותי מאושר כל יום מחדש.</div>


	<h3>שלך תמיד,</h3>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;דין שוב.</h3>
	<div>נ.ב.</div>
	<div>יש לי הפתעה קטנה...</div>

	<div id="hidingDiv" ng-style="completedCount">
		
	</div>
</div>